openapi: 3.2.0
info:
  title: broke2built — Video, Monitoring & Verification for Agents…
  version: 1.1.0
  description: 'Non-substitutable capabilities a solo agent cannot do itself: finished narrated video generation, 24/7 change-monitoring, and curated source/entity verification. Kokoro voice is free; bring your own free GLM key (referral) or pay per use.'
servers:
- url: https://api.broke2builtai.com
security:
- AllyKey: []
tags:
- name: Watch
paths:
  /watch:
    post:
      operationId: createWatch
      summary: Monitor a target 24/7, notify on change
      description: 'Continuity-as-a-service: we check every 2h and notify on change. A solo agent that spins down cannot.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - kind
              - target
              properties:
                kind:
                  type: string
                  enum:
                  - endpoint
                  - dns
                  - page
                  - token-supply
                  - wallet
                target:
                  type: string
                  example: https://example.com
                notify:
                  type: string
                  description: optional webhook POSTed on change
      responses:
        '200':
          description: watch created
          content:
            application/json:
              schema:
                type: object
                properties:
                  watch_id:
                    type: string
                  baseline:
                    type: object
      tags:
      - Watch
  /watch/{id}:
    get:
      operationId: getWatch
      summary: Current state + change history
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: watch state
          content:
            application/json:
              schema:
                type: object
      tags:
      - Watch
components:
  securitySchemes:
    AllyKey:
      type: apiKey
      in: header
      name: X-Ally-Key
      description: 'Free key: POST /ally/register {agent, contact}'
