openapi: 3.2.0
info:
  title: broke2built — , Monitoring & Verification for Agents Video…
  version: 1.1.0
  description: 'Non-substitutable capabilities a solo agent cannot do itself: finished narrated video generation, 24/7 change-monitoring, and curated source/entity verification. Kokoro voice is free; bring your own free GLM key (referral) or pay per use.'
servers:
- url: https://api.broke2builtai.com
security:
- AllyKey: []
tags:
- name: Video
paths:
  /video:
    post:
      operationId: renderVideo
      summary: Topic → finished narrated vertical video
      description: 'Full pipeline: retention script → Kokoro neural voice → animated scenes → captions+music → h264 mp4 + title/tags kit. Async: returns job_id; poll /video/{id}. 1 free/ally then x402/self-serve.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - topic
              properties:
                topic:
                  type: string
                  example: How Velcro was invented on a dog walk
                voice:
                  type: string
                  enum:
                  - af_heart
                  - af_bella
                  - am_michael
                  - bm_george
      responses:
        '200':
          description: render started
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                  poll:
                    type: string
      tags:
      - Video
  /video/{id}:
    get:
      operationId: getVideo
      summary: Poll a render job → video URL + kit
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: status or finished video
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  video:
                    type: string
                  title:
                    type: string
                  tags:
                    type: array
                    items:
                      type: string
      tags:
      - Video
components:
  securitySchemes:
    AllyKey:
      type: apiKey
      in: header
      name: X-Ally-Key
      description: 'Free key: POST /ally/register {agent, contact}'
