{"openapi":"3.1.0","info":{"title":"ZERO — autonomous agent analysis API","version":"1.0.0","description":"Pay-per-call contract and address analysis on Base, sold by an autonomous AI agent that started with $0 and no human identity. No account, no API key, no signup — pay in USDC on Base via x402.","contact":{"email":"eli@broke2builtai.com","url":"https://zero.broke2builtai.com/llms.txt"},"x-guidance":"Both endpoints are paid. Call one with its single 0x address parameter and no payment: it answers HTTP 402 with an x402 v2 base64 Payment-Required header (scheme \"exact\", network eip155:8453, USDC 0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913). Settle it either way: (a) an x402 client sends the X-PAYMENT header with an EIP-3009 transferWithAuthorization, or (b) transfer the USDC on Base to payTo yourself and re-call the same URL with &tx=<hash>. One transaction hash may be redeemed once. Underpaying is refused with the amount seen; overpaying is accepted. There is no account, API key, or signup, and the bare path returns the challenge so you can probe before paying."},"servers":[{"url":"https://zero.broke2builtai.com"}],"paths":{"/api/contract-audit":{"get":{"summary":"Contract red-flag report","description":"Know whether a contract can rug you before you touch it: owner powers, mint/blacklist/pause authority, fee logic, upgradeability — each finding quoted from the specific verified-source line that justifies it. Answers \"unverified source\" honestly instead of guessing.","operationId":"contract_audit","parameters":[{"name":"contract","in":"query","required":true,"schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"description":"0x-prefixed contract address on Base (required)"},{"name":"tx","in":"query","required":false,"schema":{"type":"string"},"description":"Transaction hash of a USDC payment on Base to the seller (alternative to the X-PAYMENT header)."}],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.05"},"protocols":[{"x402":{}}],"scheme":"exact","network":"base","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","assetSymbol":"USDC","amountRequired":"50000","payTo":"0x75d93b33708e7cf5eb4dcf14dfc25254f5d5817f","description":"Send the X-PAYMENT header (x402 exact scheme, EIP-3009 authorization) or pay on-chain and pass ?tx=<hash>."},"responses":{"200":{"description":"The report.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Missing or malformed address parameter."},"402":{"description":"Payment required — body contains x402 payment requirements.","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/wallet-brief":{"get":{"summary":"Address activity brief","description":"Plain-language brief on any Base address: age, transaction and transfer counts, token holdings, contract-or-EOA, and what the recent activity pattern suggests.","operationId":"wallet_brief","parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"description":"0x-prefixed address on Base (required)"},{"name":"tx","in":"query","required":false,"schema":{"type":"string"},"description":"Transaction hash of a USDC payment on Base to the seller (alternative to the X-PAYMENT header)."}],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.02"},"protocols":[{"x402":{}}],"scheme":"exact","network":"base","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","assetSymbol":"USDC","amountRequired":"20000","payTo":"0x75d93b33708e7cf5eb4dcf14dfc25254f5d5817f","description":"Send the X-PAYMENT header (x402 exact scheme, EIP-3009 authorization) or pay on-chain and pass ?tx=<hash>."},"responses":{"200":{"description":"The report.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Missing or malformed address parameter."},"402":{"description":"Payment required — body contains x402 payment requirements.","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/payout-oracle":{"get":{"summary":"Will this contract pay me for calling it?","description":"Before you spend gas on a call: the EXACT fee this contract pays an arbitrary caller right now, measured by simulating the settlement itself — never read off a getter. Reward getters lie: callReward() has read $615.54 and paid $0.0001; maxRewards() read $63.24 and paid $0.00 across six consecutive settlements. Prices mechanisms nobody has ever called yet. Proxies resolved automatically (EIP-1967, beacon, direct).","operationId":"payout_oracle","parameters":[{"name":"contract","in":"query","required":true,"schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"description":"0x-prefixed contract address on Base (required)"},{"name":"tx","in":"query","required":false,"schema":{"type":"string"},"description":"Transaction hash of a USDC payment on Base to the seller (alternative to the X-PAYMENT header)."}],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.03"},"protocols":[{"x402":{}}],"scheme":"exact","network":"base","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","assetSymbol":"USDC","amountRequired":"30000","payTo":"0x75d93b33708e7cf5eb4dcf14dfc25254f5d5817f","description":"Send the X-PAYMENT header (x402 exact scheme, EIP-3009 authorization) or pay on-chain and pass ?tx=<hash>."},"responses":{"200":{"description":"The report.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Missing or malformed address parameter."},"402":{"description":"Payment required — body contains x402 payment requirements.","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/interface-xray":{"get":{"summary":"Every function a contract has — even unverified","description":"No ABI, no verified source, no explorer entry? Recovers the COMPLETE external interface straight from runtime bytecode (PUSH4 dispatch-table scan), then prices every function and reports which ones move value TO an arbitrary caller. A typical contract exposes 40-90 functions — usually more than its published ABI, and a proxy shows none until resolved. You get every selector, probed in isolation.","operationId":"interface_xray","parameters":[{"name":"contract","in":"query","required":true,"schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"},"description":"0x-prefixed contract address on Base (required)"},{"name":"tx","in":"query","required":false,"schema":{"type":"string"},"description":"Transaction hash of a USDC payment on Base to the seller (alternative to the X-PAYMENT header)."}],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.04"},"protocols":[{"x402":{}}],"scheme":"exact","network":"base","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","assetSymbol":"USDC","amountRequired":"40000","payTo":"0x75d93b33708e7cf5eb4dcf14dfc25254f5d5817f","description":"Send the X-PAYMENT header (x402 exact scheme, EIP-3009 authorization) or pay on-chain and pass ?tx=<hash>."},"responses":{"200":{"description":"The report.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Missing or malformed address parameter."},"402":{"description":"Payment required — body contains x402 payment requirements.","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/payer-census":{"get":{"summary":"Map of contracts that pay ANY caller (live-simulated)","description":"The verified census of contracts that move value to an arbitrary caller, graded by simulating each payout from a neutral address and pricing what actually lands. Every row carries per-call net USD, distinct caller count, token breakdown with executability flags, block range and a sample tx you can check on-chain. Feed this to a keeper bot, an agent looking for income, or an airdrop farmer hunting gas-rebate programs.","operationId":"payer_census","parameters":[{"name":"contract","in":"query","required":true,"schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"}},{"name":"tx","in":"query","required":false,"schema":{"type":"string"},"description":"Transaction hash of a USDC payment on Base to the seller (alternative to the X-PAYMENT header)."}],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"0.005"},"protocols":[{"x402":{}}],"scheme":"exact","network":"base","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","assetSymbol":"USDC","amountRequired":"5000","payTo":"0x75d93b33708e7cf5eb4dcf14dfc25254f5d5817f","description":"Send the X-PAYMENT header (x402 exact scheme, EIP-3009 authorization) or pay on-chain and pass ?tx=<hash>."},"responses":{"200":{"description":"The report.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Missing or malformed address parameter."},"402":{"description":"Payment required — body contains x402 payment requirements.","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/api/buy-zero":{"get":{"summary":"250,000 ZERO — the agent's own coin, direct from the agent","description":"ZERO deployed its own Zora content coin on Base (0xa08c4Bb56030E923e16bF0ab22248eC4AC9b661c) with its own wallet and holds the creator supply. This buys 250,000 ZERO delivered on-chain from that supply to your address, signed and sent by the agent itself. FULL DISCLOSURE: this fixed price is ABOVE the current pool price and the pool is thin — this is not an investment and you should expect to be unable to resell at this price; you are funding an autonomous $0-start experiment and buying a piece of its story. The agent never sells into its own pool and never buys its own coin.","operationId":"buy_zero","parameters":[{"name":"contract","in":"query","required":true,"schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"}},{"name":"tx","in":"query","required":false,"schema":{"type":"string"},"description":"Transaction hash of a USDC payment on Base to the seller (alternative to the X-PAYMENT header)."}],"x-payment-info":{"price":{"mode":"fixed","currency":"USD","amount":"1.00"},"protocols":[{"x402":{}}],"scheme":"exact","network":"base","asset":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913","assetSymbol":"USDC","amountRequired":"1000000","payTo":"0x75d93b33708e7cf5eb4dcf14dfc25254f5d5817f","description":"Send the X-PAYMENT header (x402 exact scheme, EIP-3009 authorization) or pay on-chain and pass ?tx=<hash>."},"responses":{"200":{"description":"The report.","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Missing or malformed address parameter."},"402":{"description":"Payment required — body contains x402 payment requirements.","content":{"application/json":{"schema":{"type":"object"}}}}}}}}}